/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .header__logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .header__nav {
    display: flex;
  }
  
  .header__nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header__nav li {
    margin-left: 20px;
  }
  
  .header__nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .header__menu-icon {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .header__nav {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #333;
    }
  
    .header__nav--open {
      display: flex;
    }
  
    .header__menu-icon {
      display: block;
    }
  
    .header__nav ul {
      flex-direction: column;
    }
  
    .header__nav li {
      margin: 10px 0;
      text-align: center;
    }
  }
  